<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hyperborea Audio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/style.css" rel="stylesheet" />
    <script defer src="./app.js"></script>
    <link rel="shortcut icon" href="./favicon/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <ul class="nav-list">
          <li>
            <a href="#home" class="nav-btn home">Home</a>
          </li>
          <li>
            <a href="#discografia" class="nav-btn disco">Discografia</a>
          </li>
          <li>
            <a href="#sobre" target="_blank" class="nav-btn">Sobre</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="main-section home" id="home">
      <div class="left-info">
        <h1 class="title">Hyperborea<br />Audio</h1>
        <article class="label-info">
          <p>
            A label run by Ckaeiront and Noirethos.<br />Going from 60 to 175bpm
            rooted in London underground,<br />
            Jazz, Funk and beyond.
          </p>
        </article>
      </div>
      <img
        src="./img/Hyperborea audio no background.png"
        class="hyper-logo"
        alt="Hyperborea logo"
      />
    </section>

    <section class="discografia" id="discografia">
      <div class="for-after">
        <h2>Discografia</h2>
        <article>
          <p>
            Conheça a riquíssima discografia da Hyperborea Audio, variando entre
            os gêneros de:
            <br />Broken Beat, Dubstep, Indie, Jazz Funk, Experimental e outros.
          </p>
        </article>
      </div>

      <div class="album-covers">
        <div class="album-cv">
          <a
            href="https://thesamplingexperiments.bandcamp.com/track/give-me-love-instrumental"
            target="_blank"
          >
            <img
              src="https://f4.bcbits.com/img/a3519219005_10.jpg"
              alt="Album cover"
              class="album-image"
            />
          </a>
          <h4>The Sampling Experiments</h4>
          <span>Give Me Love</span>
          <span class="label-num">HPB003</span>
        </div>
        <div class="album-cv">
          <a href="https://noirethos.bandcamp.com/track/devaneios" target="_blank">
            <img
              src="https://i1.sndcdn.com/artworks-eXD66tj8iqzkh9VO-JACLoA-t500x500.jpg"
              alt="Album cover"
              class="album-image"
            />
          </a>
          <h4>Noire</h4>
          <span>Devaneios</span>
          <span class="label-num">HPB002</span>
        </div>
        <div class="album-cv">
          <a href="https://ckaeiront.bandcamp.com/" target="_blank">
            <img
              src="https://i1.sndcdn.com/artworks-XhMI7jWAWFHNR9e3-jO9oCQ-t500x500.jpg"
              alt="Album cover"
              class="album-image"
            />
          </a>
          <h4>Ckaeiront</h4>
          <span>Dent's May Hell</span>
          <span class="label-num">HPB001</span>
        </div>
        <div class="album-cv">
          <a
            href="https://epociens.bandcamp.com/track/luiza-manequim"
            target="_blank"
          >
            <img
              src="https://f4.bcbits.com/img/a0929563060_10.jpg"
              alt="Album cover"
              class="album-image"
            />
          </a>
          <h4>Epociens</h4>
          <span>Estudante da Filosofia</span>
          <span class="label-num">HPB004</span>
        </div>
      </div>
    </section>

    <footer class="footer" id="sobre">
      <h5>Hyperborea Audio</h5>
      <p class="foot-about">
        A label run by <a href="https://ckaeiront.bandcamp.com" target="_blank">Ckaeiront</a> &
        <a href="https://soundcloud.com/noirethos" target="_blank">Noire</a>, both from Brazil,
        Pernambuco.<br />Designs, album covers, sites, Bandcamp profiles, mixing
        and mastering are made by Ckaeiront.<br />The label is run by two Linux
        users, so almost all the programs are free and open source.<br />
      </p>
    </footer>
  </body>
</html>
